@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
 

.div{font-family:Creepster;
    font-size: 2em;
    border-style:groove;
    border-width: 20px;
    border-color: chartreuse;
    color:chartreuse;
   /*text-shadow: black 3px 5px 6px;*/
   text-shadow: black 8px 10px 4px; 
  position:relative;
  height: 13em;
}
.div:hover{ 

  height: auto;
}

.div2{display: flex;
      flex-direction: column;
      align-items: center;
    position:relative;
}
.div3{height: 2em;
       overflow: hidden;
   
}
.div3:hover{ height: auto;
   color:black;
   text-shadow: chartreuse 8px 10px 4px; 
}
.img{
    height: 50%;
    border-radius: 100%;
    border-style: groove;
    border-color: darkgray;
  /* box-shadow: rgb(150,150,150) 5px 5px;*/
    box-shadow: rgb(73, 112, 33) 3px 25px  50px ;
}

.name{ 
    position:absolute;
    bottom:0px;
    text-align: center;  
   
}
.name:hover{
  color:black;
  text-shadow: chartreuse 8px 10px 4px; 

}


 .flecha{
    height:2em;
 }

 .div1{
    display: flex;
 }
 .boton{
    margin-left: auto;
    border-radius: 12%;
    border-style: groove;
    border-color: black;
    border-width: 0.1em;
    padding: 0.2em;
   
    
 }
